<div class="layout-centered bg-img" style="background-image: url(../assets/img/bg/4.jpg); padding: 30px; height: 100vh">
    <main class="main-content" style="height: 100%">

        <div class="bg-white rounded shadow-7 w-400 mw-100 p-6">
            <h5 class="mb-6">Recover your password</h5>

            <form class="input-line1" ng-submit="submit()">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="email" required>
                </div>

                <button class="btn btn-lg btn-block btn-primary" type="submit">Reset Password</button>
            </form>
        </div>
    </main>
</div>

<button id="successPopup" class="btn btn-primary" type="button" data-toggle="popup" data-target="#success-popup" style="display: none;">Slide Down</button>

<div id="success-popup" data-autohide="4500" class="popup col-6 col-md-4" data-position="top-right" data-animation="slide-down">
    <button type="button" class="close" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="media">
        <div class="media-body">
            <p class="mb-0 text-success">{{message}}</p>
        </div>
    </div>
</div>


<button id="errorPopup" class="btn btn-primary" type="button" data-toggle="popup" data-target="#error-popup" style="display: none;">Slide Down</button>

<div id="error-popup" data-autohide="5000" class="popup col-6 col-md-4" data-position="top-right" data-animation="slide-down">
    <button type="button" class="close" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="media">
        <div class="media-body">
            <p class="mb-0 text-danger">{{message}}</p>
        </div>
    </div>
</div>